<h1>Welcome to Scrabble Score!</h1>
<form action="/score">
  <div class="form-group">
    <label for="score">Enter your word to find out its Scrabble score!</label>
    <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Score the word!</button>
</form>
